html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: none;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: #1a4690;
  border-radius: 15px;
}
